/* Para tablets */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .container {
        flex-direction: column;
        padding: 1em;
    }
}

/* Para celulares */
@media (max-width: 480px) {
    .container {
        padding: 0.5em;
        font-size: 0.9em;
    }
    img {
        width: 100%;
        height: auto;
    }
}



body {
    background-color: #ff8fd0; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    height: 100vh;
}

#menu {
    position: absolute; 
    left: 20px; 
    top: 20px; 
    background-color: #ff72e8; 
    padding: 20px; 
    border-radius: 8px; 
}

#menu ul {
    list-style: none; 
    padding: 0; 
}

#menu ul li {
    margin: 10px 0;
}

#menu ul li a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: large; 
}

#principal {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    flex: 1; 
    text-align: center; 
}

/* Conteúdo principal */
#conteudo {
    background-color: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    margin-top: 20px; 
}

/* Imagem de Logo */
#logo {
    width: 100%;
    max-width: 300px; 
    margin: 10px 0; 
    border-radius: 15px; 
    border: 5px solid rgba(255, 255, 255, 0.7); 
    opacity: 0.8; 
}

/* Conteúdo extra */
#conteudo-extra h2 {
    color: #ff8fd0; 
    font-size: 1.5em;
}

#conteudo-extra p {
    font-size: 1.2em; 
    color: #333; 
}

#conteudo-extra button {
    background-color: #ff72e8; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 1em; 
    margin-top: 10px; 
}

#conteudo-extra button:hover {
    background-color: #ff8fd0;
}

/* Rodapé */
#rodape {
    text-align: center; 
    margin-top: 20px; 
    color: #333; 
    margin-bottom: 20px; 
}
